<h1>Learning in the Real World</h1>
<p>Gangplank Academy is shifting how you think about learning.  Real world experts providing experience you can't get in a university or college setting.  Choose from a variety of subjects and locations.  You define your own goals and chart your own course.</p>

<div class="span-8">
<h2>Career Development</h2>
<p>Just starting out and looking to find what kind of work you want to do?  Gangplank Academy provides the ability to sample many different types of careers in a real world setting at little to no cost.</p>
<p>Currently stuck in a job you hate?  Gangplank Academy offers an ability to freshen your skill set and get ready for another career without putting yourself in debt.</p>

<h2>Personal Growth</h2>
<p>Want to try something new, but don't know where to start? Sometimes we need to try something outside our norm to be inspired or stretch ourselves.  The variety of courses at Gangplank Academy allows you to experience new things.</p>
<p>Always wanted to learn how to make a killer espresso, take great photos, paint like picasso, draw a comic or learn to play a musical instrument?  Gangplank Academy offers courses, workshops and events on about anything you can dream about. It let's those dreams become reality.</p>
<p>Want to be the best?  When you really want to be the best and you want your skills at their sharpest Gangplank Academy is available to keep you on your toes.</p>

<h2>Workforce Development</h2>
<p>Are you an employer with a growing workforce?  Finding talent is difficult and growing it is expensive. Gangplank Academy is able to leverage social capital and community to help develop employees.</p>
<p>Looking to take your company in a different direction, but can't afford costly consultants? The instructors at Gangplank Academy have the skills to train your employees so that they are capable of taking you there.</p>
</div>

<div class="span-8">
<h2>Featured Courses</h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>