<h1>Learning in the Real World</h1>
<p>Gangplank Academy is shifting how you think about learning - real world experts providing experience you can't get in a university or college setting.  Choose from a variety of subjects and locations.  You define your goals and chart your course.</p>

<div class="span-8">
<h2>Career Development</h2>
<p>Looking for the ideal career for your talents?  Gangplank Academy provides the ability to sample many different types of careers in a real world setting at little to no cost.</p>
<p>Stuck in a job you hate?  Gangplank Academy offers an ability to freshen your skill set and get ready for another career without putting yourself in debt.</p>

<h2>Personal Growth</h2>
<p> At various points in our lives, we feel the need to try something outside our norm to be inspired or stretch ourselves.  The variety of courses at Gangplank Academy allow you to experience new things - young or old, amateur or professional. Perhaps you've always wanted to learn how to make a killer espresso, take great photos, paint like picasso, draw a comic or learn to play a musical instrument?  Gangplank Academy offers courses, workshops and events on wide-range of hobbies and careers. There's a good chance that if you've dreamed it, we've got something to help you make it reality</p>
<p>And when you've found the ideal career, Gangplank Academy will keep you on your toes through workshops and classes that sharpen your skills, keeping you at the top of the game..</p>

<h2>Workforce Development</h2>
<p>Are you an employer with a growing workforce?  Finding talent is difficult and growing it is expensive. Gangplank Academy is able to leverage social capital and community to help develop employees.</p>
<p>Looking to take your company in a different direction, but can't afford costly consultants? The instructors at Gangplank Academy have the skills to train your employees so solutions are created internally, and your staff helps move your forward.</p>
</div>

<div class="span-8">
<h2>Featured Courses</h2>
</div>
<div class="span-8" style="background-color:#F7F7F9;padding:10px 10px 10px 10px">
  <% @courses.each do |course| %>
    <h3 class="feature-course-name"><%= link_to(truncate(course.name, 32), course_path(course)) %></h3>
    <div class="feature-course-subject">
      <%= course.subject.name %>
      <span class="feature-course-location">at <%= course.location.name unless course.location.nil? %></span>
    </div>
  <% end %>
</div>