/* @group Live Validations */

.LV_validation_message {
	font-weight: bold;
	margin-left: 5px;	
}

.LV_valid {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

.LV_invalid {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

.LV_invalid_field {
	border-color: red;
	border-width: 1px;
}

  /* @end */
/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

#header {
  background: url(/images/gplogo.png) no-repeat;
  background-color: #3E4B4D;
  color: #fff;
  height: 52px;
  font: normal normal 32px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding-left: 209px;
}

#footer {
  background-color: #3E4B4D;
  height: 25px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

.course-nav-desc {
  margin-bottom: 5px;
  font-style: italic;
}

.course-header {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 20pt;
  color: #3E4B4D;
}

.instructor-image-container {
  float:left;
}

.course-overview-container {
  margin-left: 160px;
  font-size: 12pt;
}

.float-right {
  float: right;
}

.course-prereq {
  color: #D5B930;
  font-weight: bold;
  font-size: 10pt;
}

.course-details {
  color: #D5B930;
  font-weight: bold;
  font-size: 10pt;
  margin-right: 40px;
}