/* @group Live Validations */

.LV_validation_message {
	font-weight: bold;
	margin-left: 5px;	
}

.LV_valid {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

.LV_invalid {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

.LV_invalid_field {
	border-color: red;
	border-width: 1px;
}

  /* @end */
/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

#header {
  background: url(/images/gplogo.png) no-repeat;
  background-color: #3E4B4D;
  color: #fff;
  height: 52px;
  font: normal normal 32px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding-left: 209px;
}

#footer {
  background-color: #3E4B4D;
  height: 25px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

.course-nav-desc {
  margin-bottom: 5px;
  font-style: italic;
}

.course-header {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 20pt;
  color: #3E4B4D;
}

.instructor-image-container {
  float:left;
}

.course-overview-container {
  margin-left: 175px;
  font-size: 12pt;
}

.float-right {
  float: right;
}

.course-details {
  color: #F2C712;
  font-weight: bold;
  font-size: 10pt;
}

.course-details a {
  color: #F2C712;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
}

.course-register {
  border: 2px #3E4B4D solid;
  margin: 15px 0px 15px 225px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  color: #3E4B4D;
  background-color: #F2C712;
  width: 190px;
  padding: 0px 5px 0px 5px;
}

.course-cost-container {
  float:left; 
  width:250px; 
  margin-top: 15px;
  margin-left: 55px;
}

.course-cost-label {
  float:left; 
  width: 185px;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 5px;
}

.course-cost {
  float:right;
  font-size: 12pt;
  margin-bottom: 5px;
}

.course-dates-container {
  margin-left: 350px;
  padding-top:15px
}

.course-dates-label {
  font-size: 12pt;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.course-label {
  font-weight:bold;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14pt;
}
.course-instructor {
  text-align: center;
  font-size: 10pt;
  background: #F2C712;
  margin-bottom: 0px;
}

.location-container {
  float:left; 
  width: 225px; 
  margin-top: 35px;
}

.map-container {
  margin-left: 250px; 
  margin-top: 35px;
  margin-bottom: 35px;
}

.course-location {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 5px;
}

.course-location-detail {
  font-size: 12pt;
  margin-bottom: 5px;
}

.course-content {
  padding-left: 10px;
}

.feature-course-name {
  font-size: 14pt;
  font-weight: bold;
  color: #3E4B4D;
  margin-bottom: 0px;
}

.feature-course-location {
   text-align: right;
   font-style: italic;
   font-size: 8pt;
   margin-bottom: 10px;
   margin-top: 0px;
}

.feature-course-subject {
  font-size: 8pt;
  margin-bottom: 10px;
  margin-top: 0px;
}