<h1>Search By Subject</h1>
<h2>All Courses</h2>
<% @subjects.each do |subject| %>
  <div onclick="location.href='<%= edit_subject_path(subject) %>';" style="cursor:pointer;">
    <%=h subject.code %> - <%=h subject.name %>
  </div>
<% end %>
