<h1>Search By Location</h1>
<h2>All Locations</h2>
<% @locations.each do |location| %>
  <div onclick="location.href='<%= location_courses_path(location) %>';" style="cursor:pointer;">
    <%=h location.name %>
  </div>
<% end %>
